*{
    color: white;
    background-color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

section{
    min-height: 50vh !important;  
    padding: 4rem 0;
}
header{
    position: sticky;
    top:0;
    max-height: 10vh !important;
    z-index: 2245;
}
.active{
    color: blue !important;
}
.red{
    background-color: red;
}

mark,mark b{
    background-color: rgba(255, 242, 0,.9);
    color: black !important;
    padding: 0 2px;
}
footer,footer center,footer center a{
    background-color: white !important;
    color: black !important;
}
footer center a{
    color: blue !important;
}
.typed-out{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: 
      typing 3.5s  alternate-reverse 2s infinite  forwards,
      blink 1s infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
@keyframes blink {
    from { border-color: transparent }
    to { border-color: orange; }
  }